[Unit]
Description=JCC Studio Availability Mashup
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
WorkingDirectory=/home/drew/src/github.com/drewwells/jcc-mashup

ExecStart=/usr/bin/docker compose up --build
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
